/* StyleSheet: Modal */

div.Modal {
    display: none;
}

div.Modal > div.mask {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

div.Modal > div.mask > div.modal {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;
    min-width: 90%;

    border-radius: 4px;
}

div.Modal > div.mask > div.modal > h2 {
    font-weight: bold;
    text-align: center;
}

div.Modal > div.mask > div.modal > div.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 8px 8px 8px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    width: 100%;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.empty-cart > svg {
    fill: #787878;

    width: 32px;
    height: 32px;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.empty-cart > p {
    color: #787878;

    text-align: center;

    width: 100%;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.item-info > p.info-name {
    font-weight: bold;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.item-info > p.info-price {
    font-style: italic;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container > div.quantity-container {
    display: flex;
    justify-content: center;
    gap: 8px;

    overflow: hidden;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container > div.quantity-container > button {
    background-color: #808080;

    color: #FFFFFF;

    width: 24px;

    border-radius: 4px;
    border: none;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container > div.quantity-container > button > svg {
    width: 16px;
    height: 16px;

    vertical-align: middle;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container > div.quantity-container > span.info-qnt {
    font-weight: bold;;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container > button#remove-btn {
    background-color: rgb(255, 0, 0);

    color: #FFFFFF;

    padding: 0px 4px;

    border-radius: 4px;
    border: none;
}

div.Modal > div.mask > div.modal > div.cart-items > div.item > div.buttons-container > button#remove-btn > svg {
    width: 16px;
    height: 16px;

    vertical-align: middle;
}

div.Modal > div.mask > div.modal > p.cart-total {
    font-weight: bold;
}

div.Modal > div.mask > div.modal > p.cart-total > span {
    color: rgb(22, 163, 74);

    font-style: italic;
}

div.Modal > div.mask > div.modal > p.address {
    font-weight: bold;
}

div.Modal > div.mask > div.modal > input {
    padding: 8px;
    width: 100%;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

div.Modal > div.mask > div.modal > p#address-warning {
    color: #FF0000;

    display: none;

    text-align: center;
}

div.Modal > div.mask > div.modal > div.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
    width: 100%;
}

div.Modal > div.mask > div.modal > div.buttons-container > button#close-modal {
    background-color: rgb(254, 32, 32);
    color: #FFFFFF;

    font-weight: bold;

    padding: 8px 24px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

div.Modal > div.mask > div.modal > div.buttons-container > button#checkout {
    background-color: rgb(22, 163, 74);
    color: #FFFFFF;

    font-weight: bold;

    padding: 8px 24px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}



@media (min-width: 768px) {
    div.Modal > div.mask > div.modal {
        min-width: 608px;
    }
}