/* StyleSheet: Menu */

main.Menu {
    padding: 48px 16px;
}

main.Menu > h2 {
    text-align: center;

    margin-bottom: 32px;
}

main.Menu > div.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 416px));
    justify-content: center;
    justify-items: center;
    gap: 24px;

    margin-bottom: 32px;
}



@media (min-width: 768px) {
    main.Menu > h2 {
        font-size: 32px;
    }
}