html, body {
    height: 100%;
}

body {
    background: linear-gradient(315deg, #5CDCD4 0%, #A2B7DC 50%, #BC006B 100%);
    padding: 24px;
}

h1 {
    font-size: 54px;
    margin-bottom: 24px;
}

svg {
    vertical-align: baseline;
    margin: 0px 8px;
}

p {
    color: #ffffff;
}

.btn {
    font-size: 28px;
    padding: 4px 32px;
}